$background: #0E0856;
$border-color: #1A2961;
$cell-size: 32px;

div.joystick {
  display: table;
  filter: drop-shadow(7px 7px 2px rgba(0 0 0 /53%));

  & div.row {
    display: table-row;

    & div.cell {
      display: table-cell;
      width: $cell-size;
      height: $cell-size;
      background: none;

      &.top {
        border-radius: 4px 4px 0 0;
        background: $background;
      }

      &.bottom {
        border-radius: 0 0 4px 4px;
        background: $background;
      }

      &.left {
        border-radius: 4px 0 0 4px;
        background: $background;
      }

      &.center {
        background: $background;
      }

      &.right {
        border-radius: 0 4px 4px 0;
        background: $background;
      }

    }
  }
}