<div class="joystick">
    <div class="row top">
        <div class="cell"></div>
        <div class="cell top">
            <div class="cell-inner">
                <div class="triangle"></div>
            </div>
        </div>
        <div class="cell"></div>
    </div>
    <div class="row middle">
        <div class="cell left">
            <div class="block"></div>
            <div class="cell-inner">
                <div class="triangle"></div>
            </div>
        </div>
        <div class="cell center">
            <div class="cell-inner">
                <div class="circle"></div>
            </div>
        </div>
        <div class="cell right">
            <div class="block"></div>
            <div class="cell-inner">
                <div class="triangle"></div>
            </div>
        </div>
    </div>
    <div class="row bottom">
        <div class="cell"></div>
        <div class="cell bottom">
            <div class="cell-inner">
                <div class="triangle"></div>
            </div>
        </div>
        <div class="cell"></div>
    </div>
</div>

