<div class="joystick">
    <div class="row top">
        <div class="cell"></div>
        <div class="cell top">
            <app-triangle-icon [position]="trianglePosition.UP"/>
        </div>
        <div class="cell"></div>
    </div>
    <div class="row middle">
        <div class="cell left">
            <app-triangle-icon [position]="trianglePosition.LEFT"/>
        </div>
        <div class="cell center">
            <app-circle-icon/>
        </div>
        <div class="cell right">
            <app-triangle-icon [position]="trianglePosition.RIGHT"/>
        </div>
    </div>
    <div class="row bottom">
        <div class="cell"></div>
        <div class="cell bottom">
            <app-triangle-icon [position]="trianglePosition.DOWN"/>
        </div>
        <div class="cell"></div>
    </div>
</div>

