button {
  height: 10px;
  width: 50px;
  border-radius: 16px;
  margin-bottom: 12px;
  border: none;
  box-shadow: 4px 4px 2px rgba(0 0 0 /53%);

  &.green {
    background: #2FF454;
  }

  &.orange {
    background: #FB8E53;
  }
}