section.buttons-container {
  display: flex;
  gap: 8px;

  div.buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & div {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}