<link rel="stylesheet" href="buttons-container.component.scss">
<section class="buttons-container">

    <div class="buttons-wrapper">
        <div class="buttons-inner">
            <app-button-rounded-big/>
            <app-button-rectangular-small [color]="buttonColors.green"/>
            <app-button-rectangular-small [color]="buttonColors.orange"/>
        </div>

        <div class="buttons-inner">
            <app-button-rectangular-big [color]="buttonColors.yellow"/>
        </div>
    </div>

    <div class="joystick">
        <app-joystick/>
    </div>
</section>