section.display-frame {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 0px 13px 0px 13px;
  width: 284px;
  height: 204px;
  background: #FFF;
  border-radius: 18px 18px 18px 70px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.64);
  z-index: 1;

  & .display-wrapper {
    width: 100%;
  }

  & div.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    padding-left: 25px;
    height: 33px;
  }
}
